.ckeditor-extended-browse li:hover {
	background: #CCC;
	cursor: pointer;
}

.ckeditor-extended-browse .elgg-image {
	width: 100px;
}

.ckeditor-extended-browse img {
	max-height: 50px;
	max-width: 100px;
}